@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?wudhim");
  src: url("fonts/icomoon.eot?wudhim#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?wudhim") format("truetype"),
    url("fonts/icomoon.woff?wudhim") format("woff"),
    url("fonts/icomoon.svg?wudhim#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-font {
  font-size: 38px;
  text-align: center;
  line-height: 38px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #f9f9f9;
}

.box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 94px;
  width: 60%;
  margin: 50px auto;
}

/* .cart {
  background-color: #fff;
} */

.cart {
  flex: 0 0 20%;
  height: 100%;
  padding: 15px 15px;
  min-width: 160px;
}

.cart a {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 13px 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  background-color: #fff;
}

.cart .info {
  margin-left: 10px;
  overflow: hidden;
}

.cart h5 {
  font-size: 16px;
  color: #282a2d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart p {
  display: block;
  font-size: 14px;
  color: #6c757d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart a:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.cart a:hover h5 {
  color: #fb7299;
}

.icon-spring:before {
  content: "\e907";
  color: #6db33f;
}

.icon-redis:before {
  content: "\e904";
  color: #d82c20;
}

.icon-docker:before {
  content: "\e901";
  color: #1488c6;
}
.icon-vue-dot-js:before {
  content: "\e906";
  color: #4fc08d;
}
.icon-elastic:before {
  content: "\e902";
  color: #005571;
}
.icon-steam:before {
  content: "\e905";
  color: black;
}
